# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

/dist
/bin
/src/dist
/src/node_modules
# umi
.umi
.umi-production
**/.umi

# dependencies
**/node_modules
/src/node_modules
